{% import 'macros/form.html' as form %}

{#{% resource 'requestdata/modal-form.js' %}#}
{% asset 'requestdata/modal-form-scripts' %}

<section id="dataset-resources" class="resources">
  <h3 class="uppercase">{{ _('Data and Resources') }}</h3>
    <div class="requested-data-message"></div>
  {% block resource_list %}
    {% if resources %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
        <p class="empty">The metadata is available for this dataset. To access the full dataset, please request data.</p>
        <a href="{{ h.url_for('hdx_dataset.request_access', id=pkg.name or pkg.id) }}" class="btn pull-right" style="margin-top: 10px;"
        >Request data</a>
      {% endtrans %}
    {% endif %}
    {% if pkg.type == 'hdx-requestdata-metadata-only' %}
      <div class="container-subpanel">

        <div class="circle gray-bg"></div>
        <div class="lines">
          <div class="upper gray-bg"></div>
          <div class="lower gray-bg"></div>
        </div>

      </div>
    {% endif %}

    {% endblock %}
</section>
